[submodule "extern/jquery.tocify.js"]
	path = extern/jquery.tocify.js
	url = git@github.com:gfranko/jquery.tocify.js.git
[submodule "extern/marked"]
	path = extern/marked
	url = git@github.com:chjj/marked.git
